<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart-quiz</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="nav">
            <h1>QuizMasterr</h1>
            <div id="part2">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="">Support</a>
                <a href="">
                    <h5>Start Now</h5>
                    <div id="green"></div>
                </a>

            </div>
        </div>
        <h1>Test your knowledge !</h1>
        <img src="/images/pexels-olia-danilevich-5313158.jpg" alt="" id="img1">
        <img src="/images/pexels-karolina-grabowska-7681199.jpg" alt="" id="img2">
        <img src="/images/pexels-cottonbro-8656680.jpg" alt="" id="img3">
        <a href="./quiz"><button id="start">Start Now</button></a>
    </div>
    <div id="page2">
        <h5>About QuizMasterr</h5>
        <h1>At QuizMaster, we believe learning should be fun! Our platform offers a variety of quizzes designed to test your knowledge and boost your skills across multiple subjects.</h1>
        <div id="about-us">
            <!-- <h4>About us</h4> -->
            <div id="greendiv">
                <img src="./next.png" alt="">
            </div>
        </div>
    </div>
    <div id="page3">
        <h1>Support</h1>
        <h2>We're Here to Help!</h2>
        <p>If you have any questions, issues, or feedback, our support team is ready to assist you.</p>
        <p>Contact us through any of the following methods:</p>
        <ul>
            <li>Email: <a href="mailto:support@quizmaster.com">support@quizmaster.com</a></li>
            <li>Live Chat: Click the chat icon on the bottom right corner of your screen.</li>
            <li>Help Center: Visit our <a href="#">Help Center</a> for FAQs and guides.</li>
        </ul>
        <p>Your satisfaction is our priority, and we're committed to providing you with the best experience possible!</p>
    </div>
    <div id="partners">
        <h1>Our  Partners</h1>
        <section class="customer-logos slider">
           <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
           <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
           <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
           <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
           <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
           <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
           <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
        </section>
    </div>
    <footer id="footer">
        <div class="footer-content">
            <h5>QuizMaster</h5>
            <p>&copy; 2024 QuizMaster. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/home.js"></script>
</body>
</html>